/*  phpBB 3.0 Style Sheet
    --------------------------------------------------------------
	Style name:		AnimeZone
	Based on style:	subSilver (the default phpBB3 style)
	Original author:	subBlue ( http://www.subBlue.com/ )
	Modified by:		el_jentel1 ( http://www.smforum.net )
	
	This is an alternative style for phpBB3
	
	Copyright 2007 AnimeZone ( http://www.smforum.net/ )
    --------------------------------------------------------------
*/

/* Layout
 ------------ */
* {
	/* Reset browsers default margin, padding and font sizes */
	margin: 0;
	padding: 0;
}

html {
	font-size: 100%;
}



body {
	/* Text-Sizing with ems: http://www.clagnut.com/blog/348/ */
	font-family: "Lucida Grande", Verdana, Helvetica, Arial, sans-serif;
	color: #FFFFFF;
	background-color: #000000;
	background-attachment: fixed;
	background-position: center;
	background-image: url('./images/body_bg.jpg');
	font-size: 62.5%; /* This sets the default font size to be equivalent to 10px */
	margin: 0 auto;
}

#wrapheader {
	min-height: 125px;
	height: auto !important;
	height: 125px;
	width: 870px;
	padding: 0 0 15px 0;
	margin: 0 auto;

}

#wrapcentre {
	min-width: 870px;
	max-width: 870px;
	width: 870px;
	margin: 0 auto;
}

#wrapfooter {
	width: 870px;
	padding: 5px 0 20px 0;
	margin: 0 auto;
	text-align: center;
	clear: both;
}

#wrapnav {
	width: 870px;
	margin: 0 auto;
	background-color: #212121;
	border-width: 1px;
	border-style: solid;
	border-color: #212121;
}

#logodesc {
	background-color: #000000;
	background-image: url('./images/back.gif');
	background-repeat: repeat-x;
	background-position: center bottom;
	padding: 0 0px 0px 0px;
	margin: 0 auto;
}


#menubar {
	margin: 0 auto;
	width: 100%;
}

#datebar {
	margin: 0 auto;
	width: 100%;
}

#findbar {
	width: 100%;
	margin: 0;
	padding: 0;
	border: 0;
}

.forumrules {
	background-color: #121212;
	border-width: 1px;
	border-style: solid;
	border-color: #212121;
	padding: 4px;
	font-weight: normal;
	font-size: 1.1em;
	font-family: "Lucida Grande", Verdana, Arial, Helvetica, sans-serif;
}

#pageheader {
	width: 100%;
}
#pagecontent {
	width: 100%;
}
#pagefooter { }

#poll { }
#postrow { }
#postdata { }


/*  Text
 --------------------- */
h1 {
	color: #FFFFFF;
	font-family: "Lucida Grande", "Trebuchet MS", Verdana, sans-serif;
	font-weight: bold;
	font-size: 1.8em;
	text-decoration: none;
}

h2 {
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
	font-size: 1.5em;
	text-decoration: none;
	line-height: 120%;
}

h3 {
	font-size: 1.3em;
	font-weight: bold;
	font-family: Arial, Helvetica, sans-serif;
	line-height: 120%;
}

h4 {
	margin: 0;
	font-size: 1.1em;
	font-weight: bold;
}

p {
	font-size: 1.1em;
}

p.moderators {
	margin: 0;
	float: left;
	color: #FFFFFF;
	font-weight: bold;
}

.rtl p.moderators {
	float: right;
}

p.linkmcp {
	margin: 0;
	float: right;
	white-space: nowrap;
}

.rtl p.linkmcp {
	float: left;
}

p.breadcrumbs {
	margin: 0;
	float: left;
	color: #ffffff;
	font-weight: bold;
	white-space: normal;
	font-size: 1em;
}

.rtl p.breadcrumbs {
	float: right;
}

p.datetime {
	margin: 0;
	float: right;
	white-space: nowrap;
	font-size: 1em;
}

.rtl p.datetime {
	float: left;
}

p.searchbar {
	padding: 2px 0;
	white-space: nowrap;
} 

p.searchbarreg {
	margin: 0;
	float: right;
	white-space: nowrap;
}

.rtl p.searchbarreg {
	float: left;
}

p.forumdesc {
	padding-bottom: 4px;
}

p.topicauthor {
	margin: 1px 0;
}

p.topicdetails {
	margin: 1px 0;
}

.postreported, .postreported a:link, .postreported a:visited, .postreported a:hover, .postreported a:active {
	margin: 1px 0;
	color: red;
	font-weight:bold;
}

.postapprove, .postapprove a:link, .postapprove a:visited, .postapprove a:hover, .postapprove a:active {
	color: green;
	font-weight:bold;
}

.postapprove img, .postreported img {
	vertical-align: bottom;
}

.postauthor {
	color: #FFFFFF;
}

.postdetails {
	color: #FFFFFF;
}

.postbody {
	font-size: 1.3em;
	line-height: 1.4em;
	font-family: "Lucida Grande", "Trebuchet MS", Helvetica, Arial, sans-serif;
	overflow: auto;
	overflow-x: auto;
}

.postbody li, ol, ul {
	margin: 0 0 0 1.5em;
}

.rtl .postbody li, .rtl ol, .rtl ul {
	margin: 0 1.5em 0 0;
}

.posthilit {
	background-color: black;
}

.nav {
	margin: 0;
	color: #ffffff;
	font-weight: bold;
}

.pagination {
	padding: 4px;
	color: black;
	font-size: 1em;
	font-weight: bold;
}

.cattitle {

}

.gen {
	margin: 1px 1px;
	font-size: 1.2em;
}

.genmed {
	margin: 1px 1px;
	font-size: 1.1em;
}

.gensmall {
	margin: 1px 1px;
	font-size: 1em;
}

.copyright {
	color: #FFFFFF;
	font-weight: normal;
	font-family: "Lucida Grande", Verdana, Arial, Helvetica, sans-serif;
}

.titles {
	font-family: "Lucida Grande", Helvetica, Arial, sans-serif;
	font-weight: bold;
	font-size: 1.3em;
	text-decoration: none;
}

.online {
	color: green;
}

.offline, .error, .inactive {
	color: red;
}


/* Tables
 ------------ */
th {
	color: #FFFFFF;
	font-size: 1.1em;
	font-weight: bold;
	background-color: #000000;
	background-image: url('./images/cellpic3.png');
	white-space: nowrap;
	padding: 7px 5px;
}

td {
	padding: 2px;
}

td.profile {
	padding: 4px;
}

.tablebg {
	background-color: #212121;
}

.catdiv {
	height: 28px;
	margin: 0;
	padding: 0;
	border: 0;
	background: #212121 url('./images/cellpic1.gif');
}
.rtl .catdiv {
	background: #212121 url;
}

.cat {
	height: 28px;
	margin: 0;
	padding: 0;
	border: 0;
	background-color: #1f1f1f;
	background-image: url('./images/cellpic1.gif');
	text-indent: 4px;
}

.row1 {
	border-left: solid 1px #404040;
	border-right: solid 1px #121212;
	border-top: solid 1px #3C3C3C;
	border-bottom: solid 1px #131313;
	background: #313131;
	padding: 4px;
}

.row2 {
	border-left: solid 1px #404040;
	border-right: solid 1px #121212;
	border-top: solid 1px #3C3C3C;
	border-bottom: solid 1px #131313;
	background: #313131;
	padding: 4px;
}

.row3 {
	border-left: solid 1px #404040;
	border-right: solid 1px #121212;
	border-top: solid 1px #3C3C3C;
	border-bottom: solid 1px #131313;
	background: #313131;
	padding: 4px;
}

.spacer {
	background-color: #000000;
}

.current {
	background-color: lightblue;
}

hr {
	height: 1px;
	border-width: 0;
	background-color: #1f1f1f;
	color: #1f1f1f;
}

.legend {
	border-left: solid 1px #404040;
	border-right: solid 1px #121212;
	border-top: solid 1px #3C3C3C;
	border-bottom: solid 1px #131313;
	background: #313131;
	text-align:center;
	margin: 0 auto;
}

/* Links
 ------------ */
 /* Links adjustment to correctly display an order of rtl/ltr mixed content */
.rtl a {
	direction: rtl;
	unicode-bidi: embed;
}
a:link {
	color: #FFB300;
	text-decoration: none;
}

a:active,
a:visited {
	color: #FFB300;
	text-decoration: none;
}

a:hover {
	color: #ffffff;
	text-decoration: none;
}

a.forumlink {
	color: #FFB300;
	font-weight: bold;
	font-family: "Lucida Grande", Helvetica, Arial, sans-serif;
	font-size: 1.2em;
}

a.topictitle {
	margin: 1px 0;
	font-family: "Lucida Grande", Helvetica, Arial, sans-serif;
	font-weight: bold;
	font-size: 1.2em;
	color: #FFB300;
}

a.topictitle:hover {
	color: #FFFFFF;
	text-decoration: none;
}

a.topictitle:visited {
	color: #FFB300;
	text-decoration: none;
}

th a,
th a:visited {
	color: #FFFFFF !important;
	text-decoration: none;
}

th a:hover {
	text-decoration: underline;
}


/* Form Elements
 ------------ */
form {
	margin: 0;
	padding: 0;
	border: 0;
}

input {
	color: #FFFFFF;
	font-family: "Lucida Grande", Verdana, Helvetica, sans-serif;
	font-size: 1.1em;
	font-weight: normal;
	padding: 1px;
	border: 1px solid #FFFFFF;
	background-color: #313131;
}

textarea {
	background-color: #313131;
	color: #FFFFFF;
	font-family: "Lucida Grande", Verdana, Helvetica, Arial, sans-serif;
	font-size: 1.3em; 
	line-height: 1.4em;
	font-weight: normal;
	border: 1px solid #FFFFFF;
	padding: 2px;
}

select {
	color: #FFFFFF;
	background-color: #313131;
	font-family: "Lucida Grande", Verdana, Helvetica, sans-serif;
	font-size: 1.1em;
	font-weight: normal;
	border: 1px solid #FFFFFF;
	padding: 1px;
}

option {
	padding: 0 1em 0 0;
}

option.disabled-option {
	color: graytext;
}

.rtl option {
	padding: 0 0 0 1em;
}

input.radio {
	border: none;
	background-color: transparent;
}

.post {
	background-color: black;
	border-style: solid;
	border-width: 1px;
}

.btnbbcode {
	color: #FFFFFF;
	font-weight: normal;
	font-size: 1.1em;
	font-family: "Lucida Grande", Verdana, Helvetica, sans-serif;
	background: #212121 url('./images/cellpic1.gif');
	border: 1px solid #121212;
}

.btnbbcode:hover {
	color: #BC2A4D;
}

.btnmain {
	font-weight: bold;
	background: #212121 url('./images/cellpic1.gif');
	border: 1px solid #121212;
	cursor: pointer;
	padding: 1px 5px;
	font-size: 1.1em;
}

.btnmain:hover {
	color: #BC2A4D;
}

.btnlite {
	font-weight: normal;
	background: #212121 url('./images/cellpic1.gif');
	border: 1px solid #121212;
	cursor: pointer;
	padding: 1px 5px;
	font-size: 1.1em;
}

.btnlite:hover {
	color: #BC2A4D;
}

.btnfile {
	font-weight: normal;
	background: #212121 url('./images/cellpic1.gif');
	border: 1px solid #121212;
	padding: 1px 5px;
	font-size: 1.1em;
}

.btnfile:hover {
	color: #BC2A4D;
}

.helpline {
	background: #000000;
	border-style: none;
}

input:focus, select:focus, textarea:focus {
	outline-style: none;
}

/* BBCode
 ------------ */
.quotetitle, .attachtitle {
	margin: 10px 5px 0 5px;
	padding: 4px;
	border-width: 1px 1px 0 1px;
	border-style: solid;
	border-color: #000000;
	color: #FFFFFF;
	background : #4E79A6 url('./images/bbcode_quote.gif') no-repeat 100% 50%;
	font-size: 0.85em;
	font-weight: bold;
}

.quotetitle .quotetitle {
	font-size: 1em;
}

.quotecontent, .attachcontent {
	margin: 0 5px 10px 5px;
	padding: 5px;
	border-color: #000000;
	border-width: 0 1px 1px 1px;
	border-style: solid;
	font-weight: normal;
	font-size: 1em;
	line-height: 1.4em;
	font-family: "Lucida Grande", "Trebuchet MS", Helvetica, Arial, sans-serif;
	background-color: #1f1f1f;
	color: #FFFFFF;
}

.attachcontent {
	font-size: 0.85em;
}

.codetitle {
	margin: 10px 5px 0 5px;
	padding: 2px 4px;
	border-width: 1px 1px 0 1px;
	border-style: solid;
	border-color: #000000;
	color: #FFFFFF;
	background : #4E79A6 url('./images/bbcode_code.gif') no-repeat 100% 50%;
	font-family: "Lucida Grande", Verdana, Helvetica, Arial, sans-serif;
	font-size: 0.8em;
}

.codecontent {
	direction: ltr;
	margin: 0 5px 10px 5px;
	padding: 5px;
	overflow: auto;
	border-color: #000000;
	border-width: 0 1px 1px 1px;
	border-style: solid;
	font-weight: normal;
	color: #CC9966;
	font-size: 0.85em;
	font-family: Monaco, 'Courier New', monospace;
	background-color: #1f1f1f;
}

.syntaxbg {
	color: #FFFFFF;
}

.syntaxcomment {
	color: #FF8000;
}

.syntaxdefault {
	color: #0000BB;
}

.syntaxhtml {
	color: #000000;
}

.syntaxkeyword {
	color: #007700;
}

.syntaxstring {
	color: #DD0000;
}


/* Private messages
 ------------------ */
.pm_marked_colour {
	background-color: #000000;
}

.pm_replied_colour {
	background-color: #A9B8C2;
}

.pm_friend_colour {
	background-color: #007700;
}

.pm_foe_colour {
	background-color: #DD0000;
}


/* Misc
 ------------ */
img {
	border: none;
}

.sep {
	color: black;
	background-color: #FFA34F;
}

table.colortable td {
	padding: 0;
}

pre {
	font-size: 1.1em;
	font-family: Monaco, 'Courier New', monospace;
}

.nowrap {
	white-space: nowrap;
}

.username-coloured {
	font-weight: bold;
}

#linkrow {
	border-bottom: solid 2px #131313;
	background-color: #1A1A1A;
	background-image: url('./images/linkrow.gif');
	padding: 4px;
	width: 870px;
}

.announceline	{ 
	/* Use this class in table if you want to make an announcement in header */
	background-color: #000000; 
	border: 1px #2b2b2b solid;
	margin: 0 auto;
	width: 870px;
}

	/* START CSS for chatbox */
.box	{
	width: 100%;
	margin: 0 auto;
}

.shouts	{
	width: 100%;
	height:200px;
	overflow:auto;
}

#chat	{
	width: 100%;
	text-align:left;
}

#message {
	width: 65%;
}

#whois_online	{
	vertical-align:text-top;
	text-align:left;
}

.online_img {
	vertical-align:middle;
}	

#act_indicator {
	visibility:hidden;
}

	/* END CSS for chatbox */

//#chrst {
//	background: url(/images/christmas.gif) top left no-repeat;
//	height: 105px;
//	width: 105px;
//	position: absolute;
//	top: 0;
//	left: 0;
//}

//#eidmbrk {
//	background: url(/images/eid.gif) top right no-repeat;
//	height: 105px;
//	width: 105px;
//	position: absolute;
//	top: 0;
//	right: 0;
//}

.wrapsts {
	border-style: solid;
	border-width: 0 0px 0px 0px;
	border-color: #000;
	margin: 0 auto;
}
